<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="//static1.squarespace.com/static/54aaef8ee4b03ccd2a132a1c/t/567adf955a56683a784aa201/1471883028653/?format=1500w"
         alt="Stratus EMR"
         width="220" height="28">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto" routerLinkActive="active">
    <li class="nav-item">
      <a class="nav-link" routerLink="/patients">Patients <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/providers">Providers</a>
    </li>
<!--
    <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
    </li>
-->
  </ul>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  </div>
</nav>

<router-outlet></router-outlet>

